.title{
		color: red;
		text-align: center;
}

body{
	background-color: #1C1B1B;
}

.sub{
		text-align: center;
		margin-top: 50px;
		font-size: 60px;
}

.title{
	font-size: 60px;
}

.title,.sub{
		color: #EDE5E5;
		font-family: OCR A Std, monospace;
}

.space{
		width: 400px;
		height: 400px;
		margin: auto;
		display: block;
}

.space img{
		Width: 100%;
		margin-top: 200px;
}

table{
		border-color: #EDE5E5;
		color: #EDE5E5;
}

table, th, td{
	
		width: 1500px;
		height: 35px;
		border: 2px solid;
		text-align: center;
		margin: auto;
		border-collapse:separate;
        border-radius:6px;
		font-family: DejaVu Sans Mono, monospace;
}

td{
	
	height: 50px;
}


.planets{
	color: #EDE5E5;
	font-family: Impact, monospace;
	font-size: 25px;
	border-color = orange;
}

#merc{
	background-color = orange;
}

.img1{
	height: 150px;
	width: 150px;
	margin-top: 150px;
	margin-left: 180px;
	float: left;
	left: 5%;
}
.img1 img{
	height: 100%;
}

.img2{
	height: 230px;
	width: 230px;
	margin-top: 120px;
	margin-left: 120px;
	float: left;
	left: 25%;
}
.img2 img{
	height: 100%;
}

.img3{
	height: 420px;
	width: 420px;
	float: left;
	left: 55%;
	margin-left: 100px;
}
.img3 img{
	height: 100%;
}

.img4{
	height: 370px;
	width: 370px;
	float: left;
	left: 85%;
	margin-left: 100px;
}
.img4 img{
	height: 100%;
}

.imgs img{
	margin-top: 40px;
}
